.about-banner {
	padding-top: 10px;
}

.about-page-logo {
	position: relative;
	left: 3px;
	width: 375px;
}

.about-info {
	width: 295px;
	margin: 0 auto;
	padding: 5px;
}

.about-anchor-div {
	padding: 5px;
}

.about-anchor {
	color: white;
	padding: 5px;
	border-radius: 5px;
}

@media (hover: hover) and (pointer: fine) {
	.about-anchor:hover {
		background-color: rgb(51, 48, 249);
		color: white;
		transition: 0.25s;
	}
}

.about-anchor:active {
	background-color: white;
	color: black;
	transition: 0.3s;
}

@media only screen and (max-width: 400px) {
	.about-page-logo {
		width: 300px;
	}
}
