@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: black;
	font-family: 'Titillium Web', sans-serif;
  }

@media only screen and (max-width: 400px) {
  body {
	background-color: black;
	font-family: 'Titillium Web', sans-serif;
  }
}

.header {
	display: grid;
	background-color: white;
	height: 100px;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 3fr 1fr;
}

.nasa-logo-1 {
	position: relative;
	top: 9px;
	width: 100px;
}

.nasa-NASA {
	position: relative;
	top: 22px;
	width: 200px;
}

.nav-links {
	position: relative;
	text-align: right;
	right: 14px;
	top: 10px;
	display: block;
	
	color: black;
}

.mini-banner {
	position: relative;
	bottom: 4px;
	font-size: 13px;
	grid-column: 2 / 4;
}

.daily-info {
	color: white;
	text-align: center;
}

.daily-image {
	width: 375px;
}

.daily-video {
	max-width: 375px;
	margin: 0 auto;
}

.explanation {
	padding-left: 14px;
	padding-right: 14px;
}

.front-page-button {
	color: black;
	cursor: pointer;
	padding: 5px;
	margin: 10px;
}