@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: black;
	font-family: 'Titillium Web', sans-serif;
	color: white;
}

.header {
	display: grid;
	background-color: white;
	color: black;
	height: 100px;
	grid-template-columns: 25% 45% 20%;
	grid-template-rows: 3fr 1fr;
}

.home-link {
	text-align: right;
}

.nasa-logo-1 {
	position: relative;
	top: 9px;
	width: 100px;
}

.nasa-NASA {
	position: relative;
	top: 16px;
	width: 230px;
}

.nav-link-div {
	/* text-align: left; */
}

.nav-links {
	position: relative;
	right: 14px;
	top: 10px;
	display: inline-block;
	padding: 5px;
	color: black;
}

.mini-banner {
	position: relative;
	text-align: left;
	right: 4px;
	bottom: 9px;
	font-size: 13px;
	grid-column: 2 / 4;
}

.daily-info {
	color: white;
	text-align: center;
	margin: 0 auto;
}

.top-banner {
	margin-top: 5px;
}

.daily-image {
	width: 600px;
}

.daily-banner {
	line-height: 37px;
	margin: 5px 5px 0px 5px;
}

.copyright {
	margin-top: 7px;
}

.daily-video {
	max-width: 600px;
	margin: 0 auto;
}

.explanation {
	max-width: 700px;
	margin: 0 auto;
	margin-bottom: 75px;
}

.front-page-button {
	font-family: 'Titillium Web', sans-serif;
	color: black;
	cursor: pointer;
	outline: none;
	border: none;
	width: 120px;
	padding: 5px;
	border-radius: 5px;
	margin: 10px 5px 20px 5px;
}

@media (hover: hover) and (pointer: fine) {
	.front-page-button:hover {
		background-color: rgb(51, 48, 249);
		color: white;
		transition: 0.25s;
	}
}

.front-page-button:active {
	background-color: white;
	color: black;
	transition: 0.3s;
}

.date {
	margin: 5px;
}

@media only screen and (max-width: 600px) {
	body {
		background-color: black;
		font-family: 'Titillium Web', sans-serif;
	}

	.header {
		display: grid;
		background-color: white;
		height: 100px;
		grid-template-columns: 1fr 2fr 1fr;
		grid-template-rows: 3fr 1fr;
	}

	.nasa-logo-1 {
		position: relative;
		top: 9px;
		width: 100px;
	}

	.nasa-NASA {
		position: relative;
		top: 22px;
		width: 200px;
	}

	.nav-links {
		position: relative;
		text-align: right;
		right: 14px;
		top: 10px;
		padding: 0;
		display: block;
		color: black;
	}

	.mini-banner {
		position: relative;
		bottom: 8px;
		font-size: 13px;
		grid-column: 2 / 4;
	}

	.daily-info {
		color: white;
		text-align: center;
	}

	.daily-image {
		width: 375px;
	}

	.daily-video {
		max-width: 375px;
		margin: 0 auto;
	}

	.explanation {
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 20px;
	}
}
