@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: black;
	font-family: 'Titillium Web', sans-serif;
	text-align: center;
}

.search-banner {
	margin-top: 5px;
}

.search-page-logo {
	width: 375px;
	margin: 10px;
}

p {
	margin: 0 5px 5px 5px;
}

.search-input {
	width: 60px;
	height: 20px;
	margin: 5px;
	text-align: center;
}

.search-button {
	cursor: pointer;
	width: 120px;
	padding: 5px;
	margin: 10px;
}



@media only screen and (max-width: 400px) {
	.search-page-logo {
		width: 200px;
	}
}
